body {
    font-family: $normal_font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $condensed_font;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.container::after {
    clear: both;
    content: '';
    display: table;
}

.uppercase {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.jumbo {
    background-image: url('/images/jumbotron.jpg');
    padding: 200px 0;
}

.current-series h2 {
    background-color: $primary_color;
    margin: 0;
    padding: 10px 30px;
    display: inline-block;
    font-size: 30px;
    transform: translateY(-50%);
}

.load-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

        h3 {
            background-color: $primary_color;
            margin: 0;
            padding: 10px 60px;
            display: inline-block;
            font-size: 15px;

            a {
                color: $primary_text_color;
            }
    }
}
