$primary_color: #0082F9;
$primary_text_color: white;
$secondary_text_color: #464646;
$cards_bg_color: #1C1C1C;
$bg_footer_bottom: #303030;
$normal_font: 'Open Sans', sans-serif;
$condensed_font: 'Open Sans Condensed', sans-serif;
